<h1 class="text-center big-blue very-thick" style="padding-top: 40px; padding-bottom: 60px;">
    Manage Your Account
</h1>




<div style="text-align: center; padding-bottom: 100px; ">
    <img src={{currentUser?.avatar}} alt="no-avatar" style="border-radius: 50%; width: 250px;">
</div>


<div style="text-align: center; padding-bottom: 50px;">
    <form (ngSubmit)="onSubmit(f1)" #f1="ngForm">
        <div class="mb-3">
            <label for="fname" class="form-label">Edit First Name</label>
            <input #fn="ngModel" type="text" name="fname" class="form-control signup-input" id="fname" value={{currentUser?.fname}} ngModel>
        </div>

        <div class="mb-3">
            <label for="lname" class="form-label">Edit Last Name</label>
            <input #ln="ngModel" type="text" name="lname" class="form-control signup-input" id="lname" value={{currentUser?.lname}} ngModel>
        </div>
        
        <div class="mb-3">
            <label for="signUsername" class="form-label">Edit Username</label>
            <input #u2="ngModel" type="text" name="signUsername" class="form-control signup-input" id="signUsername" value={{currentUser?.uname}} ngModel>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Edit Email</label>
            <input #e="ngModel" type="email" name="email" class="form-control signup-input" id="email" value={{currentUser?.email}} ngModel email>
        </div>
        
        <div class="mb-3">
            <label for="signPassword" class="form-label">Create A New Password</label>
            <input #sp="ngModel" type="password" name="signPassword" class="form-control signup-input" id="signPassword" value={{currentUser?.password}} ngModel>
        </div>
       
        <div class="mb-3">
            <label for="city" class="form-label">Edit City</label>
            <input #c="ngModel" type="text" name="city" class="form-control signup-input" id="city" value={{currentUser?.city}} ngModel>
        </div>
        
        <div class="mb-3">
            <label for="avatar" class="form-label">Upload a New Avatar Photo</label>
            <input type="file" name="avatar" class="form-control signup-input" id="avatar" ngModel>
        </div>

        <br><br>

        <div class="mb-4">
            <input type="checkbox" name="trainer" class="form-check-input wide" id="trainer" ngModel checked={{currentUser?.trainer}}>
            <label for="trainer" class="form-label">Trainer</label>
        </div>

        <div class="mb-3">
            <label for="contact" class="form-label">Edit Contact info</label>
            <input #contact="ngModel" type="text" name="contact" class="form-control signup-input" id="contact" value={{currentUser?.contact}} ngModel>
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]=f1.invalid>Apply</button>
        

      </form>
</div>