<div class="container-xs fit" style="width: 100% !important">
    
    <div class="row image-row">
        <div class="line line1">
            Online Fitness
        </div>
        <div class="line line2">
            𝓂𝒶𝓀𝑒 𝓎𝑜𝓊𝓇 𝒹𝓇𝑒𝒶𝓂𝓈 𝒸𝑜𝓂𝑒 𝓉𝓇𝓊𝑒 
        </div>
        <div class="line line3">
            WHO'S GONNA CARRY THE BOATS !?
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{numberOfClients}}  CLIENTS
        </div>

        <div class="col">
            {{numberOfViews}}  VIEWS
        </div>
        
        <div class="col">
            {{numberOfTrainers}} TRAINERS
        </div>

    </div>
</div>


<app-news></app-news>


<h1 class="text-center big-blue very-thick">BROWSE THROUGH CATEGORIES</h1>
<app-categories></app-categories>

<h1 class="text-center big-blue very-thick">TRENDING WORKOUT PLANS</h1>
<app-plans></app-plans>