.pad-arround{
    padding-top: 50px;
    width: 100% !important; 
    padding-left: 5%;
}

.bold{
    font-size: larger;
    font-weight: 900;
}

.content{
    margin: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

dt, dd, h1{
    padding: 0;
}