<div class="container-xs pad-arround">
    
    <h1 class="display-3 text-center"> {{myName}} </h1>

    <dl class="row content">
        <dt class="col-sm-3 bold">Type </dt>
        <dd class="col-sm-9"> {{myType}} </dd>

        <dt class="col-sm-3 bold">Muscle </dt>
        <dd class="col-sm-9"> {{myMuscle}} </dd>

        <dt class="col-sm-3 bold">Equipment </dt>
        <dd class="col-sm-9"> {{myEquipment}} </dd>
        
        <dt class="col-sm-3 bold">Difficulty </dt>
        <dd class="col-sm-9"> {{myDifficulty}} </dd>
        
        <dt class="col-sm-3 bold">Instructions </dt>
        <dd class="col-sm-9"> {{myInstructions}} </dd>
    </dl>
</div>